{% extends 'base.html' %}

{% block content %}
<div id="review-entity">
  {% block entity_title %}{% endblock %}

  <div id="review-content" class="row">
    {% block sidebar %} {% endblock %}

    <div class="col-md-{% if sidebar_visible %}9{% else %}12{% endif %}">
      <h3>{{ _('Review by %(user)s', user = ('<img class="avatar" src="%s&s=24" /> '|safe % review.user.avatar) + ('<a href="%s">'|safe % url_for('user.reviews', user_id=review.user.id)) + review.user.display_name + '</a>'|safe) }}</h3>

      {% if review.is_draft %}
        <div class="alert alert-warning" role="alert">{{ _('<b>This review has not been published yet!</b> Only you can see it.') }}</div>
      {% else %}
        <em class="text-muted">{{ _('Published on %(date)s', date = review.created|date) }}</em><br />
        {% set votes_total = review.votes_positive_count + review.votes_negative_count %}
        <em class="text-muted">
          {% if votes_total > 0 %}
            {{ _('%s out of %s people have found this review useful' % (review.votes_positive_count, votes_total)) }}
          {% else %}
            {{ _('This review has not yet been rated') }}
          {% endif %}
        </em>
      {% endif %}

      <p style="word-wrap: break-word; white-space: pre-wrap;">{{ review.text_html|safe }}</p>

      <hr />

      {# Legal stuff #}
      <small class="text-muted">
        {% if review.license.info_url %}
          {% set license = '<a href="%s">%s</a>'|safe % (review.license.info_url, review.license.id ) %}
        {% else %}
          {% set license = review.license.key %}
        {% endif %}
        {{ _('This review is licensed under a %(name)s license.', name=license) }}
        {% if review.source %}
          {{ _('It was imported from %(source)s.', source = '<a href="%s">%s</a>'|safe % (review.source_url, review.source)) }}
        {% endif %}
      </small>

      <hr />

      <div>
        {% if current_user.is_authenticated() %}
          {% if current_user != review.user %}
            <div class="row">
              <div class="col-md-8">
                <form method="POST" action="{{ url_for('review.vote_submit', review_id=review.id) }}">
                  {% if vote == None %}
                    {{ _('Did you find this review useful?') }}
                    <button type="submit" class="btn btn-default btn-xs {% if vote.vote == False %}disabled{% endif %}" name="yes">{{ _('Yes') }}</button>
                    <button type="submit" class="btn btn-default btn-xs {% if vote.vote == True %}disabled{% endif %}" name="no">{{ _('No') }}</button>
                  {% else %}
                    {% if vote.vote == True %}
                      <span class="text-success">{{ _('You found this review useful.') }}</span>
                    {% else %}
                      <span class="text-warning">{{ _('You didn\'t find this review useful.') }}</span>
                    {% endif %}
                    <a href="{{ url_for('review.vote_delete', id=review.id) }}" class="btn btn-default btn-xs" title="{{ _('Delete your vote') }}"><span class="glyphicon glyphicon-trash"></span></a>
                  {% endif %}
                </form>
              </div>
              <div class="col-md-4" id="reporting">
                <a href="{{ url_for('review.report', id=review.id) }}" class="text-danger">{{ _('Report abuse') }}</a>
              </div>
            </div>
          {% else %}
            <a href="{{ url_for('review.edit', id=review.id) }}"
               role="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-edit"></span> {{ _('Edit this review') }}
            </a>
            <a href="{{ url_for('review.delete', id=review.id) }}"
               class="btn btn-danger btn-sm pull-right">
              <span class="glyphicon glyphicon-remove"></span> {{ _('Delete this review') }}
            </a>
            <!-- Used to display older revisions link properly -->
            <div class="clearfix" style="margin-bottom: 8px;"></div>
          {% endif %}
          <a id="old-revisions" href="{{ url_for('review.revisions', id=review.id) }}">{{ _('View older revisions') }}</a>
        {% else %}
          <div class="row">
            <div class="col-md-5">
              {{ _('<a href="%(link)s">Sign in</a> to rate this review', link=url_for('login.index', next=url_for('review.entity', id=review.id))) }}
            </div>
            <div class="col-md-4 col-md-offset-3">
              <a id="old-revisions" href="{{ url_for('review.revisions', id=review.id) }}">{{ _('View older revisions') }}</a>
            </div>
          </div>
        {% endif %}
      </div>

      {# Sharing #}
      {% if not review.is_draft %}
        {% include 'sharing.html' %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
