{% extends 'review/entity/base.html' %}

{% set release_group = review.entity_id | entity_details %}

{% block title %}
  {% set release_group_title = release_group.title | default(_('[Unknown release group]')) %}
  {{ _('Review of "%(rg)s" by %(user)s', rg=release_group_title, user=review.user.display_name) }} - CritiqueBrainz
{% endblock %}

{% block entity_title %}
  <h2 id="title">
    {% if release_group %}
      {% set rg_name = '<a href="%s">'|safe % url_for('release_group.entity', id=review.entity_id) ~ release_group.title ~ '</a>'|safe %}
    {% else %}
      {% set rg_name =  _('[Unknown release group]') %}
    {% endif %}

    {% if release_group['artist-credit'] %}
      {% set artist = [] %}
      {% for credit in release_group['artist-credit'] %}
        {% if credit.artist %}
          {% do artist.append('<a href="%s">'|safe % url_for('artist.entity', id=credit.artist.id) + credit.artist.name + '</a>'|safe) %}
        {% else %}
          {% do artist.append(credit) %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% set artist = _('[Unknown artist]') %}
    {% endif %}

    {{ _('%(album)s by %(artist)s', album = rg_name, artist = artist|join()) }}

    {% if release_group['first-release-date'] %}
      <small>{{ release_group['first-release-date'][:4] }}</small>
    {% endif %}
  </h2>
{% endblock %}

{% set sidebar_visible = True %}
{% block sidebar %}
  <div id="sidebar" class="col-md-3">
    <img id="cover-art" class="img-responsive">
    <script>
      $("img").last()
          .on("error", function () { $(this).attr("src", "/static/img/missing-art.png"); })
          .attr("src", "//coverartarchive.org/release-group/{{ review.entity_id }}/front-250");
    </script>

    <div id="spotify-play-button">
      {% if spotify_mappings %}
        <iframe src="https://embed.spotify.com/?uri={{ spotify_mappings[0] }}&theme=white"
              width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>
      {% endif %}
    </div>
  </div>
{% endblock %}
