{% extends 'base.html' %}

{% block content %}
  {% block header %}{% endblock %}
  <hr />

  {% for field in form.errors %}
    {% for error in form.errors[field] %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endfor %}

  <div class="row">
    {% include ('review/modify/%s.html' % entity_type) %}
  </div>

  <div class="clearfix">
    <ul class="nav nav-tabs" style="margin-bottom:-1px;">
      <li class="active"><a href="#write" data-toggle="tab">{{ _('Write') }}</a></li>
      <li><a href="#preview" data-toggle="tab">{{ _('Preview') }}</a></li>
      <small class="text-muted pull-right" style="margin-top:20px;font-style:italic;">
        {{ _('You can use <a href="%(url)s" target="_blank">Markdown</a> syntax to apply custom formatting.',
              url='http://daringfireball.net/projects/markdown/syntax') }}
      </small>
    </ul>
  </div>
  <form id="review-editor" method="POST" class="form-horizontal" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <div class="col-sm-12 tab-content">
        <div class="tab-pane fade in active" id="write">
          {{ form.text(id="review-content", class="form-control", rows="5") }}
        </div>
        <div class="tab-pane fade" id="preview" style="margin-top:20px;">
          <span class="text-muted">{{ _('Loading preview...') }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="review-language">{{ _('Please, specify language of this review:') }}</label>
      <div class="col-sm-8">{{ form.language(id="review-language", class="form-control") }}</div>
    </div>
    <hr />
    {% if not review or review.is_draft %}
      <div class="form-group">
        <div class="col-sm-12">
          {% for choice in form.license_choice %}
            <div class="radio">
              <label>{{ choice }}{{ choice.label.text | safe }}</label>
            </div>
          {% endfor %}
          <br /><small class="text-warning"><em>{{ _('You cannot change the license after the review is published.') }}</em></small>
        </div>
      </div>
    {% endif %}
    {% block license_agreement_input %} {% endblock %}
  </form>
  {% block buttons %} {% endblock %}
  <br /><small class="text-warning"><em>{{ _('Note: Drafts are not private!') }}</em></small>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      // Show warning when leaving review editor without saving changes
      var beingSaved = false;
      var oldData = $('#review-editor').serialize();
      $(window).bind('beforeunload', function(e) {
        if (beingSaved || (oldData == $('#review-editor').serialize())) {
          return undefined;
        }
        var confirmationMessage = "Your review has not been saved.";
        (e || window.event).returnValue = confirmationMessage;     // Gecko and Trident
        return confirmationMessage;                                // Gecko and WebKit
      });

      $("#btn-publish").click(function(){
        beingSaved = true;
        $("#state").attr('value', 'publish');
        $("#review-editor").submit();
      });

      {% if not review or review.is_draft %}
        $("#btn-draft").click(function(){
          beingSaved = true;
          $("#state").attr('value', 'draft');
          $("#review-editor").submit();
        });
      {% endif %}

      // Preview tab functionality
      $(function() {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          if (e.target.hash.substring(1) == "preview") {
            var text = $("#review-content").val();
            if (!text) {
              $("#preview").html('<em class="text-muted">' + {{ _('Review is empty.') | tojson }} + '</em>');
            } else {
              $.ajax({
                type: "POST",
                url: "{{ url_for('review.preview') }}",
                data: { text: text },
                success: function(data) { $("#preview").html(data); },
                error: function() { $("#preview").html('<em class="text-danger">' + {{ _('Failed to load preview.') | tojson }} + '</em>'); }
              });
            }
          } else {
            $("#preview").html('<em class="text-muted">' + {{ _('Loading preview...') | tojson }} + '</em>');
          }
        });
      });
    });
  </script>
{% endblock %}
