{% extends 'base.html' %}

{% block title %}{{ _('About CritiqueBrainz') }}{% endblock %}

{% block content %}
<h2>{{ _('About') }}</h2>

<h3>{{ _('What is CritiqueBrainz?') }}</h3>
<p>
  {{ _('<strong>CritiqueBrainz is a repository for Creative Commons licensed music reviews.</strong>
  Here you can read what others have written about an album or event and write your own review!
  It is based on data from MusicBrainz - open music encyclopedia.') }}
</p>

<h3>{{ _('What is it for?') }}</h3>
<p>
  {{ _('Projects like Wikipedia and MusicBrainz are good at aggregating information about
  music, but not suited for expressing opinions about it. That\'s not their purpose.
  CritiqueBrainz fills the gap between music critics and raw data.') }}
</p>
<p>
  {{ _('This is an open platform. That means everyone - including you - can participate
  and contribute. If you are good at writing and want to share your thoughts about
  an album - feel free to write a new review. If that\'s not your thing and you just
  want to read opinions - that\'s fine too.') }}
</p>
<p>
  {{ _('After reading a review you can mark it as useful or not. That will help other
  music enthusiasts like you find good reviews.') }}
</p>

{% endblock %}
