{% from 'macros.html' import print_error %}
<!DOCTYPE html>
<html>

  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}CritiqueBrainz{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon"/>

    {% if config.COMPILE_LESS %}
      <link href="{{ url_for('static', filename='css/main.less') }}" rel="stylesheet/less" type="text/css" />
      <script src="{{ url_for('static', filename='js/less.min.js') }}"></script>
    {% else %}
      <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
    {% endif %}
    {% endblock %}

    {% block scripts_top %}
      {# This needs to be before body because it's used during cover art loading. #}
      <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
    {% endblock %}

    {% if config.GOOGLE_ANALYTICS_TRACKING_ID %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ config.GOOGLE_ANALYTICS_TRACKING_ID }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container">

      {% block wrapper %}
        {% with messages = get_flashed_messages(with_categories=true)  %}
          {% if messages %}
            {% for category, message in messages %}
              {{ print_error(message, category) }}
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}
        <!-- Page content -->
        {% endblock %}
      {% endblock %}
      <div class="clearfix"></div>

      {% block footer %}
      <hr />
      <div class="footer clearfix">
        <ul class="list-inline pull-left">
          <li><a href="{{ url_for('frontend.about') }}">{{ _('About') }}</a></li>
          <li><a href="http://blog.musicbrainz.org/tag/critiquebrainz/">{{ _('Blog') }}</a></li>
          <li><a href="https://critiquebrainz.readthedocs.org/">{{ _('Developers') }}</a></li>
          <li><a href="{{ url_for('log.browse') }}">{{ _('Moderation log') }}</a></li>
          {%- if current_user.is_admin() %}
            <li><a href="{{ url_for('reports.index') }}">{{ _('Reports') }}</a></li>
          {% endif %}
        </ul>
        <div id="language-selector" class="btn-group dropup pull-right">
          <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-globe"></span> {{ _('Language') }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            {% for language in config.LANGUAGES|dictsort(false, 'value') %}
              <li><a href="?l={{ language[0] }}">{{ language[1]|capitalize }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endblock %}

    </div>

    {% block scripts %}
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}

  </body>
</html>
