{% extends 'base.html' %}
{% block content %}
<div id="homepage">

  <div id="header" class="row">
    <div class="col-md-8 clearfix">
      <img src="{{ url_for('static', filename='img/logo_big.svg') }}" id="big-logo" />
      <h2>{{ _('Welcome to CritiqueBrainz!') }}</h2>
      <p>
        {{ _('CritiqueBrainz is a repository for Creative Commons licensed music reviews.
        Here you can read what other people have written about an album or event and write your own review!') }}
      </p>
      <p>
        {{ _('CritiqueBrainz is based on data from MusicBrainz - open music encyclopedia.
        <br/>Everyone - including you - can participate and contribute.') }}
      </p>
    </div>
    <div class="col-md-4">
      <div id="stats" class="panel panel-default">
        <div class="panel-heading"><strong>{{ _('Statistics') }}</strong></div>
        <div class="panel-body">
          {{ _('Reviews: %(reviews_count)s', reviews_count = reviews_total) }}
          <br/>{{ _('Users: %(users_count)s', users_count = users_total) }}
        </div>
      </div>
    </div>
  </div>

  <h3 style="margin-bottom:-5px;margin-top:0px;">{{ _('Popular reviews') }}</h3>
  {% if not popular_reviews %}
    <p class="lead" style="text-align: center;">{{ _('No reviews found') }}</p>
  {% else %}
    <div id="popular-list" class="row">
      {% for review in popular_reviews %}
        <div class="col-md-6 review">
          <div class="cover-art-container pull-left">
            <a href="{{ url_for('review.entity', id=review.id) }}"><img /></a>
            <script>
              $("img").last()
                  .on("error", function () { $(this).attr("src", "/static/img/missing-art.png"); })
                  .attr("src", "//coverartarchive.org/release-group/{{ review.entity_id }}/front-250");
            </script>
          </div>
          {% set entity = review.entity_id | entity_details(type=review.entity_type) %}
          <div class="album">{% include 'entity_review.html' %}</div>
          <div class="reviewer">
            <p>{{ _('Review by %(user)s', user = '<img class="avatar" src="%s&s=16" /> '|safe % review.user.avatar + '<a href="%s">%s</a>'|safe % (url_for('user.reviews', user_id=review.user.id), review.user.display_name)) }}</p>
          </div>
          <div class="preview">{{ review.preview[:250] }}{% if review.preview|length > 250 %}...{% endif %}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <hr />

  <h4>{{ _('Recent reviews') }}</h4>
  {% if not recent_reviews %}
    <p class="lead" style="text-align: center;">{{ _('No reviews found') }}</p>
  {% else %}
    <div id="recent-list" class="row">
      {% for review in recent_reviews %}
        <div class="col-md-4 review">
          <div class="cover-art-container pull-left">
            <a href="{{ url_for('review.entity', id=review.id) }}"><img /></a>
            <script>
              $("img").last()
                  .on("error", function () { $(this).attr("src", "/static/img/missing-art.png"); })
                  .attr("src", "//coverartarchive.org/release-group/{{ review.entity_id }}/front-250");
            </script>
          </div>
          {% set entity = review.entity_id | entity_details(type=review.entity_type) %}
          <div class="album">{% include 'entity_review.html' %}</div>
          <div class="reviewer">
            <p>{{ _('Review by %(user)s', user = '<img class="avatar" src="%s&s=16" /> '|safe % review.user.avatar + '<a href="%s">%s</a>'|safe % (url_for('user.reviews', user_id=review.user.id), review.user.display_name)) }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <p class="text-right"><br /><a href="{{ url_for('review.browse') }}"><b><em>{{ _('View all reviews...') }}</em></b></a></p>
  {% endif %}

</div>
{% endblock %}
