{% macro link_user(user) %}
  <a href="{{ url_for('user.info', user_id=user.id) }}">{{ user.display_name }}</a>
{% endmacro %}

{% macro link_review(review) %}
  <a href="{{ url_for('review.entity', id=review.id) }}">review</a>
{% endmacro %}

{% for date, logs in results %}
  <div class="log-day">
    <h3>{{ date }}</h3>
    <ul class="log-entries">
      {% for log in logs %}
      <li>
        {{ log.timestamp.strftime('%I:%M %p') }} -
        {% if log.action == "hide_review" %}
          {{
            _('%(admin)s archived a %(review)s written by %(user)s',
            admin=link_user(log.admin), review=link_review(log.review), user=link_user(log.review.user))
          }}
         {% elif log.action == "block_user" %}
          {{
            _('%(admin)s blocked %(user)s',
            admin=link_user(log.admin), user=link_user(log.user))
          }}
        {% endif %}
        <p class="small">Reason: {{ log.reason }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
